<h1>$stylist.getName() clients:</h1>

<ul>
  #foreach($client in $stylist.getClient())
    <li><a href="/stylists/$stylist.getId()/clients/$clients.getId()">$client.getName()</a></li>
  #end
</ul>

<a href="/stylists/$stylist.getId()/clients-new">Add client</a>
<a href="/stylists">All stylists</a>
